form {
    min-width:300px;
    max-width:600px;
    padding:20px;
    margin:0 auto;
  
    -webkit-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    -moz-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
  }
  
  form input {
    border:1px solid #eee;
    border-radius:4px !important;
    padding:5px 8px;
    color:#444;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  
  
  .pull-right {
    float:right;
  }
  